body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------
    "View all" button is hidden by default
------------------------------------------*/
.hidden{
    visibility: hidden;
}

/*----------------------------------------
    Animation
------------------------------------------*/
header:hover p {
    transform: translateX(20px);
}

/*----------------------------------------------

     CSS styles for laptop view

---------------------------------------------*/

@media screen and (min-width: 835px)
{
    header{
        display: flex;
        align-items: center;
        color: white;
        background-color: #161616;
        border-radius: 20px;
        margin: 30px 100px;
        padding: 0 30px;
        height: 650px;
    }
    .button{
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700px;
    }
    header div h1{
        font-size: 80px;
        margin-bottom: 0;
    }

    #Marcello{
        width: 100%;
        height: 633px;
        margin-top: 20px;
    
    }
    #navigation{
        display:flex;
        margin: 100px;
    }
    nav{
        display: flex;
        flex-direction: column;
        background-color: black;
        position: absolute;
        width: 252px;
        height: 252px; 
        margin-top: 20px;
        border-radius: 10px;
    }
    .nav{
        text-decoration: none;
        background-color: white;
        padding: 10px 20px;
        color: black;
        border-radius: 5px;
        font-weight: 700px;
        text-align: center;
        margin: 20px;
    }
    #nav{
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700px;
    }
    
    #news{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
        margin-left: 280px;
    }

    .blog{
        border-radius: 10px;
        border: 1px solid rgb(235, 224, 224);
    }
    span{
        margin-left: 10px;
        margin-right: 20px; 
    }
    .transfer{
        text-decoration: none;
        background-color: white;
        padding: 5px 20px;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-weight: 700px;
    }
    #news div{
        margin: 20px;
    }
    /*-------------
        CSS styles for match webpage
    --------------*/
    #matches{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    margin-left: 280px;
    }
    .match{
        border-radius: 10px;
        border: 1px solid rgb(235, 224, 224);
        margin: 20px; 
    }
    #image{
        display: flex;
        justify-content: center;
        margin-top: 60px; 
    }
    #text{
        text-align: center;
    }
    /*--------------------------------------------*/

        

    footer{
        box-sizing: border-box; 
        background-color: black;
        color: white;
        text-align: center;
        height: 300px;
        padding: 200px;
    }
    .footer{
        text-decoration: none;
        color: white;
        margin: 20px; 
    }
    #social-media{
        margin-top: 20px;
        }
    #social-media a{
        text-decoration: none;
        margin: 10px; 

    }
}







/*----------------------------------------------

     CSS styles for Tablet view

---------------------------------------------*/

@media screen and (min-width: 375px) and (max-width: 834px){
    header{
        display: flex;
        align-items: center;
        color: white;
        background-color: #161616;
        border-radius: 20px;
        margin: 20px 30px;
        padding: 0 30px;
        height: 500px;
    }
    .button{
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700px;
    }
    header div h1{
        font-size: 50px;
    }
    #Marcello{
        width: 100%;
        height: 450px;
        margin-top: 55px;

    }
    #navigation{
        display:flex;
        flex-direction: column;
        margin: 20px 30px;
    }
    nav{
        display: flex; 
        border-radius: 10px;
        margin-top: 50px;
    }
    .nav{
        text-decoration: none;
        border: 1px solid black;
        background-color: white;
        padding: 10px 20px;
        color: black;
        border-radius: 5px;
        font-weight: 700px;
        text-align: center;
        height: 40p;
        margin-left: 60px;
        width: 100px;
    }
    
    #news{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 50px;
    }

    .blog{
        border-radius: 10px;
        border: 1px solid rgb(235, 224, 224);
    }
    span{
        margin-left: 10px;
        margin-right: 20px; 
    }
    .transfer{
        text-decoration: none;
        background-color: white;
        padding: 5px 20px;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-weight: 700px;
    }
    #news div{
        margin: 20px;
    }
    #nav{
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700px;
    }
    .hidden{
        visibility: visible;
        margin: 30px;
        text-align: center;;
    }
    #hidden{
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700px;
    }

    /*-------------------------------
    CSS styles for match webpage
    --------------------------------*/
    #matches{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .match{
        border-radius: 10px;
        border: 1px solid rgb(235, 224, 224);
        margin: 20px; 
    }
    #image{
        display: flex;
        justify-content: center;
        margin-top: 60px; 
    }
    #text{
        text-align: center;
    }
    /*--------------------------------------------*/


    footer{
        box-sizing: border-box;
        background-color: black;
        color: white;
        text-align: center;
        height: 400px;
        padding: 100px;
    }
    .footer{
        text-decoration: none;
        color: white;
        margin: 20px; 
    }
    #social-media{
        margin-top: 20px;
     }
    #social-media a{
        text-decoration: none;
        margin: 10px; 

    }
    
}



/*----------------------------------------------

     CSS styles for movile view

---------------------------------------------*/

@media screen and (max-width: 375px){
    header{
        align-items: center;
        color: white;
        background-color: #161616;
        border-radius: 20px;
        margin: 10px;
        padding: 10px 30px;
        height: 700px;
    }
    .button{
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700px;
    }
    header div h1{
        font-size: 35px;
    }
    #Marcello{
        width: 100%;
        height: 450px;
        margin-top: 55px;

    }
    #navigation{
        display:flex;
        flex-direction: column;
    }
    nav{
        display: flex; 
        flex-direction: column;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
    .nav{
        text-decoration: none;
        border: 1px solid black;
        background-color: white;
        padding: 10px 20px;
        color: black;
        border-radius: 5px;
        font-weight: 700px;
        margin-left: 60px;
        text-align: center;
        height: 40p;
        width: 100px;
        margin-bottom: 10px;
    }
    #nav{
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700px;
    }

    .blog{
        border-radius: 10px;
        border: 1px solid rgb(235, 224, 224);
    }

    span{
        margin-left: 10px;
        margin-right: 20px; 
    }
    
    .transfer{
        text-decoration: none;
        background-color: white;
        padding: 5px 20px;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        font-weight: 700px;
    }
    #news div{
        margin: 20px;
    }

    /*-------------------------------
    CSS styles for match webpage
    --------------------------------*/
    .match{
        border-radius: 10px;
        border: 1px solid rgb(235, 224, 224);
        margin: 20px; 
    }
    #image{
        display: flex;
        justify-content: center;
        margin-top: 60px; 
    }
    #text{
        text-align: center;
    }
    .matches{
        border-radius: 10px;
        border: 1px solid rgb(235, 224, 224);
    }
    /*--------------------------------------------*/


    footer{
        box-sizing: border-box; 
        background-color: black;
        color: white;
        text-align: center;
        height: 600px;
        padding: 100px;
    }
    .footer, #social-media{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        margin: 20px; 
    }
    #social-media{
        margin-top: 20px;
     }
    #social-media a{
        text-decoration: none;
        margin: 10px; 

    }
}